@model GrygierSite.Core.ViewModels.ProductFormViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@using (Html.BeginForm(Model.Action, "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p class="alert alert-info">All fields are required</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(vm => vm.Name)
        @Html.TextBoxFor(vm => vm.Name, new { @class = "form-control", autofocus = "autofocus", placeholder = "Fantasy backgrounds" })
        @Html.ValidationMessageFor(vm => vm.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.Description)
        @Html.TextAreaFor(vm => vm.Description, new { @class = "form-control", placeholder = "The package contains 4 backgrounds in fantasy theme... " })
        @Html.ValidationMessageFor(vm => vm.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.CategoryId)
        @Html.DropDownListFor(vm => vm.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.CategoryId)
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.Thumbnail)
        <input type="file" name="Thumbnail" id="Thumbnail" value="Browse" />
        @Html.ValidationMessageFor(vm => vm.Thumbnail)
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.MarketUrl)
        @Html.TextBoxFor(vm => vm.MarketUrl, new { @class = "form-control", placeholder = "https://graphicriver.net/..." })
        @Html.ValidationMessageFor(vm => vm.MarketUrl)
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.Price)
        @Html.TextBoxFor(vm => vm.Price, new { @class = "form-control", placeholder = "0,00" })
        @Html.ValidationMessageFor(vm => vm.Price)
    </div>
    <div class="form-group">
        <label>Tag</label>
        <input id="tag" name="tag" type="text" class="form-control" />
        @Html.ValidationMessageFor(vm => vm.TagIds)
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <ul id="tags" name="TagIds" class="list-group"></ul>
        </div>
    </div>
    <div id="tag-ids" name="TagIds"></div>
    
    @Html.HiddenFor(vm => vm.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            TagController.init();
        });
    </script>
}
